{
  "root": true,
  "env": {
    "node": true,
    "browser": false,
    "jest": true,
    "es6": true
  },
  "extends": [
    "eslint-config-airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "./",
          "./node_modules"
        ]
      }
    }
  },
  "rules": {
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "import/no-unresolved": [
      "error",
      {
        "commonjs": true,
        "amd": true
      }
    ]
  }
}
